.clr{
    color: orange;
}

.btnclr{
    background-color: orange; /* Green */
    border: none;
    color: white;
    padding: 8px 25px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
}